<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666017518839-jcm70p6l67af4fq3h4vvt0k4ejelu1fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666017518839-jcm70p6l67af4fq3h4vvt0k4ejelu1fl</string>
	<key>API_KEY</key>
	<string>AIzaSyDE7JmZJCdByTq_OmDclotKYrIRQkKMM5g</string>
	<key>GCM_SENDER_ID</key>
	<string>666017518839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shbhm.pushMynot.projectWork</string>
	<key>PROJECT_ID</key>
	<string>recepie-51642</string>
	<key>STORAGE_BUCKET</key>
	<string>recepie-51642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666017518839:ios:08b7aa4994c55051beeff2</string>
	<key>DATABASE_URL</key>
	<string>https://recepie-51642.firebaseio.com</string>
</dict>
</plist>